<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="https://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="javascripts/liquidFillGauge.js" language="JavaScript"></script>
    <style>
        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main class="wrapper">
    <div class="row">
        <div class="col" style="margin-top:5px; margin-bottom:50px;"><h1><%= title %></h1></div>
    </div>
    <div class="row">
		<div class="col">
			<div id="container" class="svg-container" onclick="drawGraph();">
				<svg id="fillgauge1" width="360" height="360" viewBox="0 0 360 360" preserveAspectRatio="xMidYMid meet">
       
        </svg>
			</div>
		</div>
    </div>
    <div class="push"></div>
	<input id="unit_toggle" style="display:none;" value=1>
</main>
<footer class="footer" style="border-top: 1px solid #2B333A;">
	<div class="row">
        <div class="col"><% include ../partials/footer %></div>
    </div>
</footer>
<script language="JavaScript">
	drawGraph();
	function drawGraph(){
	  var gals = ((<%= tank_cap%>*<%= data.percentile %>)/100).toFixed(1)
		console.log(<%= data.percentile %>)
    var config1 = liquidFillGaugeDefaultSettings();
    config1.circleColor = "#4e565d";
    config1.textColor = "#fff";
    config1.waveTextColor = "#4e565d";
    config1.waveColor = "#d2d5d7";
    config1.waveAnimateTime = 2000;
		config1.displayPercent=false
		if(<%= unit_display %>==0){
			config1.displayPercent=true;
			config1.maxValue=100;
			var gauge1 = loadLiquidFillGauge("fillgauge1", <%= data.percentile %>, config1);
		}else{
			config1.displayPercent=false;
			config1.maxValue=<%= tank_cap %>;
			var gauge1 = loadLiquidFillGauge("fillgauge1", gals, config1);			
		}
  	var svg = d3.select("div#container")
	  .append("svg")
	  .attr("preserveAspectRatio", "xMinYMin meet")
	  .attr("viewBox", "0 0 360 360")
	  .classed("svg-content", true);		
	}

    
    function NewValue(){
    	var level = <%= tank_height %> - <%= data.residual %>
        if(level > .5){
            return Math.round((level/<%= tank_height %>)*100);
        } else {
            return ((level/<%= tank_height %>)*100).toFixed(1);
        }
    }
</script>
</body>
</html>